.footer{
    display:flex;
    max-width: 1024px;
    margin: auto;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.footer-logo{
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    color: var(--white);
    width: 100px;
}

.footer-text{
    color: var(--white);
    width: 500px;
    display: flex;
    justify-content: center;
}

.footer-social{
    width: 100px;
    display: flex;
}

.footer-social a{
    font-size: 20px;
    transition: 0.7s;
    color: var(--white);
    padding-left: 10px;
}

.footer-social a:hover{
    color: var(--primary);
}

@media screen and (max-width: 1024px){
    .footer{
        max-width:var(--lg-width);
    }
}
@media screen and (max-width: 768px){
    .footer{
        max-width:var(--md-width);
    }
    .footer-text{
        text-align: center;
    }
}
@media screen and (max-width: 426px){
    .footer{
        max-width: var(--sm-width);
    }
    .footer-logo{
        font-size: 15px;
        /* width: 20px; */
    }
    .footer-text{
        font-size: 12px;
    }
    .footer-social a{
        padding-left: 5px;
        font-size: 14px;
    }
}